<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <header>
      <h1>Crear cuenta</h1>
      <p class="subtitle">
        ¿Ya estás registrado?
        <a routerLink="/home/login">Iniciar sesión aquí</a>
      </p>
    </header>

    <ion-label>NOMBRE</ion-label>
    <ion-input type="text" class="input-field ion-text-center"></ion-input>

    <ion-label>EMAIL</ion-label>
    <ion-input type="email" class="input-field ion-text-center"></ion-input>

    <ion-label>CONTRASEÑA</ion-label>
    <ion-input type="password" class="input-field ion-text-center"></ion-input>

    <ion-button class="login-button">Regístrate</ion-button>
  </div>
</ion-content>
