<ion-content [fullscreen]="true" class="ion-padding">
  <div class="content-wrapper">
    <h1 class="ion-text-center ion-margin-top">
      Crear cuenta
    </h1>

    <p class="ion-text-center ion-margin-bottom">
      ¿Ya estás registrado? <a href="#">Inicia sesión aquí</a>.
    </p>
    
    <ion-label position="stacked" color="primary">NOMBRE</ion-label>
    <ion-item lines="none">
      <ion-input type="text"></ion-input>
    </ion-item>
    
    <ion-label position="stacked" color="primary">EMAIL</ion-label>
    <ion-item lines="none">
      <ion-input type="email"></ion-input>
    </ion-item>
    
    <ion-label position="stacked" color="primary">CONTRASEÑA</ion-label>
    <ion-item lines="none">
      <ion-input type="password"></ion-input>
    </ion-item>

    <ion-button expand="block" class="ion-margin-top">Registrarse</ion-button>
  </div>
</ion-content>
