<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <h1>Iniciar sesión</h1>
    <p class="subtitle">
      ¿No tienes una cuenta?
      <a routerLink="/nuevo-usuario">Regístrate aquí</a>
    </p>

    <ion-label>EMAIL</ion-label>
    <ion-input type="text" [(ngModel)]="email" class="input-field"></ion-input>

    <ion-label>CONTRASEÑA</ion-label>
    <ion-input
      type="password"
      [(ngModel)]="password"
      class="input-field"
    ></ion-input>

    <ion-button class="login-button">Iniciar sesión</ion-button>
  </div>
</ion-content>
