<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">contacto-modal</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="card-container">
    <ion-card>
      <ion-card-content class="ion-text-center" [routerLink]="">
        <h3>TU CONTADOR</h3>
        <h1>C.P. DIANA RAMÍREZ GARCÍA</h1>
        <div class="contact-logo-container">
          <ion-img src="https://cdn-icons-png.flaticon.com/512/3670/3670051.png">
          </ion-img>
          <ion-img src="https://cdn-icons-png.flaticon.com/512/9068/9068642.png">

          </ion-img>

        </div>
      </ion-card-content>
    </ion-card>

  </div>
  
</ion-content>
