<ion-content [fullscreen]="true">
  <div class="container">
    <div class="logo-container">
      <ion-img
        src="https://cdn-icons-png.flaticon.com/512/1024/1024812.png"
        alt="Cuentas Claras Logo"
      ></ion-img>

      <ion-text color="primary">
        <h1>
          <b
            >Cuentas <br />
            Claras</b
          >
        </h1>
        <p>Facturación y asesorías contables</p>
      </ion-text>
    </div>

    <div class="buttons-container">
      <ion-button class="login-button">Iniciar sesión</ion-button>
      <ion-button class="signup-button">Registrarse</ion-button>
    </div>
  </div>
</ion-content>
