#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.container {
  position: relative;
  height: 100%;
}

.logo-container, .buttons-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.logo-container {
  background-color: #fff;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttons-container {
  background-color: #22263e;
  height: 40%;
  border-radius: 9% 9% 0 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ion-text {
  color: #4942CE;
  text-align: center;
  font-family: 'Poppins';
}

ion-text h1 {
  font-size: 2.5rem;
  line-height: 2.3rem;
}

ion-text p {
  font-family: 'DM Sans';
}

ion-img {
  height: 20%;
}

ion-button {
  font-family: 'Poppins';
  width: 60%;
  height: 3.5rem;
  margin: 0.5rem;
  --border-radius: 1rem;
}

.login-button {
  --background: #4942CE;
}

.signup-button {
  --background: #22263e;
  --border-width: 0.2rem;
  --border-style: solid;
  --border-color: #4942ce;
}